* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ocean {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-image: url('https://dummyimage.com/1920x1080');
    

    // 指定 .row 不會影響到 class = "row" 裡面
    &>.row {
        width: 100%;
        height: 100vh;

        // 左邊區域
        .left.col{
            
            .word {  
                padding: 0px 96px;
            }
            .row.pic {
                padding-bottom: 20px;
            } 
        }
        //  右邊區域
        .right.col{
            padding: 0 64px;
            display: flex;
            flex-wrap: wrap;    
            align-items: center;
            justify-content: center;
            .row {
                
                display: flex;
                flex-wrap: wrap;
                flex-direction: column; 
                align-items: center;
                
                .col.text {
                    
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 64px;
                    }
                }
                .word {
                    margin: 40px 0px 20px 0px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px ;
                    span{
                        font-size: 16px;
                        text-align: center;
                        line-height: 35px;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        border: 2px solid white;
                        border-radius: 50%;
                    }
                }
                // input、sign  
                .boxes {
                    padding-top: 10px;
                    width: 500px;
                    gap: 20px;
                    .sign{
                        &:hover{
                            opacity: 1 !important;
                        }
                    }
                    .forget {
                        &:hover {
                            text-decoration: underline !important;
                        }    
                    }
                }
            }
        }   
        
    }
   
    @media (max-width: 1025px) {
        .left.col{
            display: none !important;
           
        }
        .right.col{
            width: 100%;
            background-color: transparent !important;
            .row.pic{
                display: block !important;
            }
            .row {
                .text {
                    img {
                        height: 64px;
                    }
                }
            }
        }   
    }
    @media (max-width: 640px){
        .right.col {
            padding: 0px !important;
            .boxes {
                width: 100% !important;
                .sign{
                    width: 90% !important;
                }
            }
            
        }
        
    }
}  