<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .card {
            border: 1px solid #000;
        }

        .wheat {
            background-color: wheat;
        }

        .skyblue {
            background-color: skyblue;
        }

        .gray {
            background-color: gainsboro;
        }

        .first {
            font-weight: bold;
            color: red;
        }

        img {
            width: 100px;
        }

        .add {
            margin-bottom: 50px;
        }

        .rank {
            font-size: 40px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 0px 18px;
            gap: 10px;
        }

        .container .card {
            width: calc(33% - 3.33px);
            padding: 10px 18px;
        }

        .btns {
            display: flex;
        }

        .delete,
        .cancel {
            margin-right: 20px;
        }

        .img {
            margin-bottom: 20px;
        }

        .content {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- {{ newData }} -->
        {{ data }}
        <div class="add card gray">
            <div class="name">
                <label for="add-name">姓名:</label>
                <input v-model="newData.name" id="add-name" type="text">
            </div>
            <div class="age">
                <label for="add-age">年齡:</label>
                <input v-model="newData.age" id="add-age" type="number">
            </div>
            <div class="gender">
                <label for="add-gender">性別:</label>
                <select v-model="newData.gender" id="add-gender">
                    <option value="male">男性</option>
                    <option value="female">女性</option>
                </select>
            </div>
            <div class="power">
                <label for="add-power">戰力:</label>
                <input v-model="newData.power" id="add-power" type="number">
            </div>
            <div v-show="failMsg" class="first">請完整填寫</div>
            <button type="button" @click="addItem()">新增資料</button>
        </div>
        <!-- vue 迴圈: v-for  <<切記: 要綁key>>   vue綁定: v-bind:(全名),":"(簡寫) -->
        <div class="container">
            <div v-for="(item,index) in data" :key="item.id" class="card"
                v-bind:class="{ 'wheat': item.gender == 'male', 'skyblue': item.gender == 'female'}">
                <div class="rank" :class="{ 'first': index === 0 }">第{{ index + 1 }}名</div>
                <div>{{ item.id }}</div>
                <div class="content">
                    <div class="name">
                        姓名:
                        <span v-if="!item.edit">{{ item.name }}</span>
                        <input v-else v-model="editData.name" type="text"></input>
                    </div>

                    <div class="age">
                        年齡:
                        <span v-if="!item.edit">{{ item.age }}</span>
                        <input v-else v-model="editData.age" type="number"></input>
                    </div>
                    <div class="gender">
                        性別:
                        <span v-if="!item.edit">{{ genderChange(item.gender) }}</span>
                        <select v-else v-model="editData.gender">
                            <option value="male">男性</option>
                            <option value="female">女性</option>
                        </select>
                    </div>
                    <div class="power">戰力:
                        <span v-if="!item.edit">{{ item.power }}</span>
                        <input v-else v-model="editData.power" type="number"></input>
                    </div>
                </div>
                <!-- vue 判斷 v-if v-else-if v-else -->
                <div class="img">
                    <img v-if="item.power >= 1000" :src="image.strong" :alt="`${item.name}的戰力示意圖`">
                    <img v-else-if="item.power >= 100" :src="image.weak" :alt="`${item.name}的戰力示意圖`">
                    <img v-else :src="image.bread" :alt="`${item.name}的戰力示意圖`">
                </div>
                <div>
                    <div v-if="!item.edit" class="btns">
                        <button type="button" @click="deleteItem(index)" class="delete">刪除資料</button>
                        <button type="button" @click="editItem(item)">編輯資料</button>
                    </div>
                    <div v-else class="btns">
                        <button type="button" class="cancel" @click="cancelEdit(item)">取消</button>
                        <button type="button" @click="submitEdit(index)">確定儲存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        // const { createApp } = Vue
        Vue.createApp({
            // 存放變數的位置
            // data: function() 
            data() {
                return {
                    failMsg: false,
                    editData: {},
                    newData: {
                        name: '',
                        age: '',
                        gender: 'male',
                        power: '',
                    },
                    data: [
                        {
                            id: 1,
                            name: 'mike',
                            age: 48,
                            gender: 'male',
                            power: 5000,
                        }, {
                            id: 2,
                            name: 'mary',
                            age: 16,
                            gender: 'female',
                            power: 1000,
                        }, {
                            id: 3,
                            name: 'tina',
                            age: 30,
                            gender: 'female',
                            power: 500,
                        }, {
                            id: 4,
                            name: 'david',
                            age: 18,
                            gender: 'male',
                            power: 50,
                        }, {
                            id: 5,
                            name: 'ren',
                            age: 16,
                            gender: 'male',
                            power: 16000,
                        }
                    ],
                    image: {
                        weak: './img/0a75ecf3176a955b4f6b61da2638a344.jpg',
                        strong: './img/14447.png',
                        bread: './img/5f1GG0th.webp'
                    },

                };
            },
            // 監視data內的變數變化
            watch: {
                // data() 內的 data
                data: {
                    // 發生變化的時候要做甚麼事
                    handler: function () {
                        // 要做得事
                        this.data.sort((a, b) => {
                            return b.power - a.power;
                        })
                    },
                    // 有所變化才會觸發
                    immediate: true,
                    // 可以監視到物件內更深層的值
                    deep: true,
                },
            },
            computed: {
                filterData() {
                    return this.data.filter((item)=>{
                        return item.power > 6000;
                    });
                },
            },
            // 存放function
            methods: {
                genderChange(gender) {
                    if (gender == 'male') {
                        return '男性';
                    } else if (gender == 'female') {
                        return '女性';
                    } else {
                        return '中性';
                    }
                },
                addItem() {
                    // console.log(this.data.length);

                    // 欄位確認有無填寫
                    if (!this.newData.name || !this.newData.age || !this.newData.gender || !this.newData.power) {
                        // 沒有填寫的時候
                        console.log('請完整填寫');
                        this.failMsg = true;
                    } else {

                        // id 預處理
                        this.newData.id = this.data.length + 1;

                        // console.log(this.newData);

                        // 推入資料
                        this.data.push(this.newData);

                        // 重置
                        this.newData = {
                            name: '',
                            age: '',
                            gender: 'male',
                            power: '',
                        };
                        this.failMsg = false;
                    }

                },
                deleteItem(num) {
                    this.data.splice(num, 1);
                },
                editItem(item) {
                    if (this.data.filter((item) => { return item.edit == true }).length == 1) {
                        // 當已有資料正在進行編輯
                        return;
                    } else {
                        this.editData = { ...item };
                        // this.editData = Object.assign({},item);
                        item.edit = true;
                    }
                },

                cancelEdit(item) {
                    item.edit = false;
                },
                submitEdit(index) {
                    // console.log(index);
                    // console.log(this.editData);
                    this.data[index] = this.editData;
                },
            },
            // 畫面載入前先做的事情
            mounted() {
            },
        }).mount('#app');
    </script>
</body>

</html>